/* @media (max-width: ) {
    
} */

@media (max-width: 1218px) {
    .card {
        max-width: 450px;
    }
}

@media (max-width:1116px) {

    .block-fon {
        width: 100%;
        flex-direction: column;
    }

    .form-search {
        width: 95%;
        column-gap: 15px;
    }

    .info-form {
        width: 95%;
    }

    
    --------------------------------------------------------
    .task {
        width: 95%;
        height: 136px;
    }

    .task-block {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        
    }

    .task-text {
        display: none;
    }

    .last-btn-search {
        grid-column: 1 / 3;
        width: auto;
    }
}